*{
padding:0;
margin:0;
}
body{
    background-color:#3C4146;
    animation:color 10s ease infinite;
}
.menu-toggler{
    top:2rem;
    right:2rem;
    width:4rem;
    height:3rem;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    cursor:pointer;
    z-index:1500;
    transition:transform 650ms ease-out;
    position: absolute;
}
.menu-toggler.open{
    transform:rotate(-45deg);
}
.bar{
    background:linear-gradient(to right, #ffe838,#fd57bf);
    width:100%;
    height:4px;
    border-radius:.8rem;
}
.bar.half{
    width:50%;
}
.bar.start{
    transform-origin:right;
    transition:transform 650ms cubic-bezzier(0.54,-0.81,0.57,0.57);
}
.open .bar.start{
    transform: rotate(-450deg) translateX(.8rem);
}
.bar.end{
     align-self:flex-end;
    transform-origin:left;
    transition:transform 650ms cubic-bezzier(0.54,-0.81,0.57,0.57);
}
.open .bar.end{
    transform:rotate(-450deg) translateX(-.8rem);
}
.nav-list{
list-style:none;
width:100%;
height:100%;
display:flex;
align-items:center;
display: inline;
margin:0 auto;
padding:100px;
font-size: 125%;
font-weight: bold;
margin-bottom:100px;
cursor: pointer;
}
ul{
  list-style-type: none;
}
ul li{
  display: inline-block;
}
ul li a{
  padding: 5px 20px;
  color: black;
  text-decoration: none;
}
li{
    margin: 0 2rem;
}
.nav-link:hover,
.nav-link:focus{
    background:liner-gradient(to top, #ffe838,#fd57bf);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}
.top-nav.open{
    top:0;
    border-radius:initial;
}
.landing-text h1{
    font-size:650%;
    font-family:'The Historia Demo', sans-serif;
     background:liner-gradient(to top:#ffe838,#fd57bf);
     text-align: center;
     font-weight:bold;
}
.landing-text h6{
    font-size:590%;
    font-weight:bold;
    text-align: center;
    font-family:'The Historia Demo', sans-serif;
     background:liner-gradient(to top:#ffe838,#fd57bf);
}
.about h1{
    text-align:center;
    font-size:6rem;
}
.about p{
    margin:0 auto;
    text-align:center;
    font-size:1.5rem;
}
.icon a{
    font-size:50px;
    margin:0 auto;
    margin:100px;
    padding:10px;
    margin-bottom:220px;
    padding-bottom: 10px;
}
.section-heading{
text-align:center;
margin-bottom:20rem;
}
.section-heading h1{
    font-size:4rem;
    color: rgba(255,255,255,.3);
    text-transform:uppercase;
    font-weight:300;
    position:relative;
     margin-bottom:-0.05rem;
    padding-bottom: 1px;
    margin-top:.1px;
    margin-right:100px;
    padding:25px;
    text-align: center;
}
.section-heading h6{
    font-size:1.5rem;
    animation:color 10s ease infinite;
}
.phot{
    font-size:3rem;
    color:red;
    margin-top:-220px;
    text-transform:uppercase;
}
.one{
}

.copyright{
    width:100%;
    height: -.5px;
    text-align:center;
    background-color:#16162d;
    padding:3rem 0;
    position:absolute;
    padding-bottom: 100px;
    margin-top:100px;
}
.up{
    position:absolute;
    width:5rem;
    height:5rem;
    background-color:#eee;
    top:-2.5;
    right:5rem;
    border-radius:100%;
    display:flex;
    animation:pulse 2s infinite;
    
}
.copyright p{
    font-size:5rem;
    font-weight: bold;
    margin:0 auto;
}
@keyframes pulse{
    0%{
        box-shadow: 0 0 0 0 rgba(253,87,191,0.99);
    }
    70%{
           box-shadow: 0 0 0 2rem rgba(253,87,191,0);
    }
    100%{
           box-shadow: 0 0 0 0 rgba(253,87,191,0);
    }
}

@keyframes color{
    0%{
      background: #035670;
    }
    /*20%{
      background: #ffed00;
    }*/
    40%{
      background: #8C839A;
    }
    60%{
        background: #313146;
    }
    80%{
       background: #2B2B2B;
    }
    /*100%{
       background: #FFA163;
    }*/
}


